@{
    ViewData["Title"] = "Home Page";
}

<style>
	.background {
		background-image: url('image\test.jpg');

        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    }
</style>

<div class="background">
    <div class="text-center">
        <h1 class="display-4">Welcome to SMS E-Learning Management System</h1>
        <p>
            Learn about <a href="https://learn.microsoft.com/aspnet/core" style="color: #FFD700;">building Web apps with ASP.NET Core</a>.
        </p>
		<img src="~/image/test.jpg" />
    </div>
</div>