@model ELearn.BLL.ViewModels.CourseVM.CreateCourseVm
<div class="m-lg-5" style="margin-left: 20px ">
<h2>Create Course</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
</div>