@model ELearn.BLL.ViewModels.CourseVM.GetCourseVm
<div class="m-lg-5" style="margin-left: 20px ">
<h2>Course Details</h2>

<div>
    <h4>@Model.Title</h4>
    <p>@Model.Description</p>
</div>

<a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</div>